<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Todo App{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-white" href="{% if current_user %}/ {% else %}/users/login?message=Please%20log%20in%20to%20continue{% endif %}">Todo App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% if current_user %}/ {% else %}/users/login?message=Please%20log%20in%20to%20continue{% endif %}">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-white" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto"> <!-- Use ml-auto to align items to the right -->
                {% if current_user %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Welcome, {{ current_user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/users/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/users/login">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
